.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
.cache/*
.config/*
.local/*
.npm/*
.pki/*
certificate/*
!certificate/.gitkeep
!certificate/proxy/.gitkeep
dist/*
public/js/*
public/style/*
!public/style/.gitkeep
public/index.html
node_modules
package-lock.json
# ---
log/*
!log/.gitkeep
project/*
!project/.gitkeep
