# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# cimo +
_system/bash/custom/*
!_system/bash/custom/.gitkeep
_system/images/custom/*
!_system/images/custom/.gitkeep
_system/layout/custom/*
!_system/layout/custom/.gitkeep
_system/module/custom/*
!_system/module/custom/.gitkeep
_system/style/custom/*
!_system/style/custom/.gitkeep
core/node_modules
ow_system/node_modules
ow_system/setting/*
!ow_system/setting/.gitkeep
project/*
!project/.digest_htpasswd
!project/favicon.ico
!project/index.html
!project/opcache.php
!project/robots.txt
virtual_host/custom/*
!virtual_host/custom/.gitkeep
!virtual_host/custom/example.conf
data/*
!data/.gitkeep
.env
error.log
debug.log