.DS_Store


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
core/node_modules
core/Env.js
!key/.gitkeep
key/*
project/*
!project/.digest_htpasswd
!project/favicon.ico
!project/index.html
!project/opcache.php
!project/robots.txt
system/node_modules
system/setting/*
!system/setting/.gitkeep
.env
.digest_htpasswd
error.log
debug.log